.sidebar { 
    position: relative;
                height:100%;
              width:20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: gray;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidbutton{
          font-size:100%;
          padding:20%;
          margin:30%;
          height:200%;
          width:200%;
          border-radius: 10%;
              }
    .sidbutton:hover{
        color:white;
        background-color:	#101010;
    }          
                  
  
  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .maininfo {
    margin-left: 20%; 
  }
  
  h{
  font-size: 28px; 
  }
  
  .newemp{
      background-color:#D3D3D3;
    margin: auto;
    width: 32%;
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 2%;
    height:50%;
    text-align:right;
    border-radius: 3%;
  }
  
  p{
      width:27%;
      font-size:120%;
      display:inline-block;
  }
  .add{
      font-size:100%;
      padding:2%;
      
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
    border-radius: 4%;
  }
  
  .grid-container > div {
    background-color:#FFFFFF;
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
    border-radius: 10%;
  }

  .heading{
    display: grid;
    grid-template-columns: auto auto auto auto;
      background-color: gray;
      font-size: 160%;
      text-align: center;
      color: white;
  }
  .employeeinfo{
      background-color: gray;
      border-radius: 3%;
  }

  a{
    text-decoration: none;
    background-color: #ccffff;
    border-radius: 30%;
    font-size: 75%;
  }

a:hover{
  background-color:grey ;
  color:honeydew;
  border-radius: 30%;
  }
